@keyframes swimming {
  0%, 100% {
    transform: 
      rotateY(0deg)
      translateX(0) 
      scaleX(1);
  }
  25% {
    transform: 
      rotateY(15deg)
      translateX(-2px)
      scaleX(0.98);
  }
  50% {
    transform: 
      rotateY(0deg)
      translateX(0)
      scaleX(1);
  }
  75% {
    transform: 
      rotateY(-15deg)
      translateX(2px)
      scaleX(0.98);
  }
}

@keyframes flapping {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

@keyframes bubble {

  0% {transform: translate(-50%, -50%) scale(0);}
  100% {transform: translate(-50%, -50%) scale(1);}

}

.fish {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
}

.fish-img {
    height: 100%;
    transition: transform .5s ease-out;
    animation: 
      swimming 1s infinite ease-in-out,
      flapping 1.25s infinite ease-in-out;
    transform-origin: center center;
}

.fish-rotator {
    height: 100%;
    transition: transform 1s ease;
}

.fish-mouth {
  position: absolute;
  top: calc(50% - 0px);
  right: calc(0% - 10px);
  z-index: 10;
  transform: translate(-50%, -50%);
}