.project-panel {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 4em var(--body-padding);
    box-sizing: border-box;
}

.projects {
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}


.project-bg {
    z-index: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
    aspect-ratio: 16/9;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 500;
}

.project-bg.missing {
    background: linear-gradient(180deg, rgb(222, 151, 151), rgb(246, 133, 231));
    color: rgb(255, 255, 255);
}

.square {
    aspect-ratio: 1/1;
}


.project-cell {
    background-color: transparent;
    position: relative;
}

.project-info {
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1em;
}

.marelli {
    background-color: #354038;
}

.project-title {
    font-size: 1.5em;
    font-weight: 500;
}

.project-sub {
    margin-top: 0.25em;
    font-size: 0.9em;
    color: rgba(0, 0, 0, .6);
}

@media (max-width: 1400px) {


}

/* Large devices (≤1200px) */
@media (max-width: 1200px) {

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Medium devices (≤992px) */
@media (max-width: 992px) {

}

/* Small devices (≤768px) */
@media (max-width: 768px) {

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }


}

/* Small devices (≤700px) */
@media (max-width: 700px) {



}

/* Extra small devices (≤576px) */
@media (max-width: 576px) {

}