.logo {
    width: 2.5em;
    height: 2.5em;
    background: linear-gradient(180deg, #99DBFB, #6DCDF7);
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0.5em;
    font-weight: 500;
    color: white;
    font-size: 1.5em;
    padding-top: 0.3125em;
    box-sizing: border-box;
}

.header {
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    color: var(--header-text-color);
    fill: var(--header-text-color);
    background-color: var(--header-bg-color);
    border-bottom: 1px solid #B3B3B3;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 1em;
}

.nav {
    font-weight: 400;
    font-size: 1.1em;
}

.nav a {
    padding: 0em 1em;
}