.hero {

    width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;

}

.hero-title {

    font-size: 40px;
    font-weight: 600;
    overflow: hidden;

}

.hero-desc {

    font-size: 16px;
    overflow: hidden;
    display: inline-block;

}

.ind-char {

    overflow: hidden;
    float: left;
    white-space: pre;

}