:root {

  --landing: #ffffff;
  --landing-text: #000000;

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  font-family: Elza;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--landing);
}

img {
  user-select: none;
}

.landing {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--landing);
  color: var(--landing-text);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: var(--landing-text);
}

.elza {
  font-family: inherit;
}

.miller {
  font-family: miller-headline, serif;
  font-style: italic;
  letter-spacing: 0rem;
  font-size: 1.15em;
}

.message-edge {
  position: absolute;
  bottom: -7px;
  width: 32px;
  right: 0px;
  margin-right: 0px;
  fill: #0472ff;
  transform: translateX(-3px);
}

.message {
    position: relative;
    max-width: 20em;
    font-size: 1em;
}

.test {
  
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
  z-index: 5;

}

.message-content {
  background-color: #0472FF;
  border-radius: 1em;
  position: relative;
  padding: 0.7em 1em 0.4em;
  margin-right: 18px;
  color: white;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 400;
  z-index: 1;
  overflow: hidden;
}