:root {

  --landing: #ffffff;
  --landing-text: #000000;

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  font-family: Elza;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--landing);
}

.landing {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--landing);
  color: var(--landing-text);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: var(--landing-text);
}

.elza {
  font-family: inherit;
}

.miller {
  font-family: miller-headline, serif;
  font-style: italic;
  letter-spacing: 0rem;
  font-size: 1.15em;
}

.message-edge {
  position: absolute;
  bottom: -11px;
  width: 50px;
  right: 0px;
  margin-right: 0px;
  fill: #0472ff;
}

.message {
    position: relative;
}

.message-content {
  background-color: #0472FF;
  border-radius: 2em;
  position: relative;
  padding: 1em 1.25em;
  margin-right: 24px;
  color: white;
  font-size: 1.25em;
  line-height: 1em;
  font-weight: 400;
  z-index: 1;
  overflow: hidden;
}